# Distribution / packaging
.Python
**/__pycache__/**
*.pyc
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# other directories
bin/
.editorconfig

npm-debug.log

newrelic_agent.log
coverage
.env
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
logs/*
files/*
.metals/
yarn.lock
**/site-packages/**

# zip files to manually create lambda with serverless
*.zip

# Anoying temp files from macOS
.DS_Store